<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings></connectionStrings>
	<appSettings>
		<add key="Recipient0" value="jongha.ahn@mrlatte.net,Jong-Ha Ahn;" />
		<add key="Recipient1" value="PERSONAL" />
		<add key="Recipient2" value="COMPANY" />
	</appSettings>
</configuration>