<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="SMTPServer" value="localhost:25"/>
    <add key="Workspace" value="C:\Workspace\"/>
    <add key="BlockCount" value="1"/>
    <add key="BlockSleep" value="30000"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
