<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="SMTPServer" value="127.0.0.1:25;"/>
    <add key="Workspace" value="C:\Users\Jongha\work\Workspace\"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
