<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="pluginSettings" type="ClickOnceDMAdmin.Configuration.PluginRetrieverSection" />
  </configSections>
  <pluginSettings>
    <plugins>
      <add name="None" source="Liternal" value="" />
      <add name="Test User" source="Liternal" value="user@domain.com" />
      <add name="Total User" source="Member" value="select userName as name, userEmail as address from Member'" />
    </plugins>
  </pluginSettings>
  <appSettings>
    <add key="Workspace" value="C:\Workspace\" />
    <add key="Database" value="C:\Users\Jong-Ha\Work\repo\clickoncedm\db\ClickOnceDM.db" />
    <add key="StatisticsDatabase" value="C:\Users\Jong-Ha\Work\repo\clickoncedm\db\Statistics.db" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.91.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Member"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=db;Initial Catalog=db;Integrated Security=False;User Id=user;Password=passwd;MultipleActiveResultSets=True" />
    <add name="Liternal"
         providerName="System.String[]"
         connectionString="NODATA" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
